<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}">
    <script type="text/javascript" th:src="@{js/jquery-1.11.0.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-primary">
            <h3>图书信息列表</h3>
        </div>
        <div class="panel-body">
            <div class="captio">
                <h4>疯狂Java讲义</h4>
                <p>李刚</p>
                <P>电子工业出版社</P>
                <p>109.00</p>
            </div>
        </div>
    </div>
</body>
</html>